:root {
  --fw: 400;
  --fw-sb: 600;
  --fw-b: 700;
  --size-0: 0;
  --size-3xs: 0.15rem;
  --size-2xs: 0.3rem;
  --size-xs: 0.5rem;
  --size-ms: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 0.99rem;
  --size: 1rem;
  --size-mdl: 1.14rem;
  --size-lg: 1.3rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.8rem;
  --size-3xl: 2rem;
  --size-4xl: 2.5rem;
  --size-25px: 25px;
  --border: #e7edfd;
  --primary: #00d8c5;
  --secondary: #009d97;
  --tertiary: #e6f5f5;
  --quaternary: #3265aa1a;
  --active: #597cfa;
  --active-light: #d4ddff;
  --inactive: #b4bcd6;
  --inactive-light: #d8d8d8;
  --success: #00c369;
  --success-light: #96c819;
  --note: #ffe000;
  --note-light: #fef8d0;
  --warning: #e29304;
  --warning-light: #ffe18a;
  --info: #ffeccc;
  --info-light: #fffaeb;
  --danger: #ff3c1e;
  --danger-light: #ffc4bb;
  --gray100: #f8f8fb;
  --gray200: #edf2f7;
  --gray300: #e2e8f0;
  --gray400: #cbd5e0;
  --gray500: #a0aec0;
  --gray600: #718096;
  --gray700: #4a5568;
  --gray800: #2d3748;
  --gray900: #1a202c;
  --appBgColor: #f2f1f6;
  --primaryBgColor: #040332;
  --secondaryBgColor: #e2e7fa;
  --secondaryBgColor-light: #f2f6ff;
  --tertiaryBgColor: #f3fafa;
  --primaryTextColor: #fff;
  --primarySubTextColor: #8186a4;
  --primaryBgColorHover: #1147bb;
  --primaryTextColorHover: #fff;
  --verified: #e8ebf8;
  --profileBg1: #3f4531;
  --profileBg2: #985f99;
  --profileBg3: #168c8c;
  --profileBg4: #4061ad;
  --profileBg5: #558b6e;
  --radius-sm: var(--size-3xs);
  --radius: var(--size-2xs);
  --radius-lg: var(--size-sm);
  --duration: 0.25s ease-in-out;
  --bg-light: #e5e0e0;
  /* Light mode colors */
  --background-color-light: #fff;
  --text-color-light: #000;
  /* Dark mode colors */
  --background-color-dark: #000;
  --text-color-dark: #fff;
  --icon-color-dark: #fff;
  --icon-color-light: #000;
}

/* Define light mode styles */
body.light-mode {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

/* Define dark mode styles */
body.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.light-mode svg {
  color: var(--icon-color-light) !important;
}

body.dark-mode svg {
  color: var(--icon-color-dark) !important;
}

/* Apply generic styles to MUI icons */
.MuiSvgIcon-root {
  fill: var(--text-color); /* Use text color for icon color by default */
  transition: fill var(--duration); /* Smooth transition for theme change */
}

/* Define light mode styles */
body.light-mode .MuiSvgIcon-root {
  fill: var(--icon-color-light) !important; /* Override for light mode */
}

/* Define dark mode styles */
body.dark-mode .MuiSvgIcon-root {
  fill: var(--icon-color-dark) !important; /* Override for dark mode */
}
